<div class="container mt-4">
    <h2>Liste des Produits</h2>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Libellé</th>
          <th>Image</th>
          <th>Prix (€)</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produit of produits">
          <td>{{ produit.libelle }}</td>
          <td><img [src]="produit.image" alt="img" width="50" /></td>
          <td>{{ produit.prix }}</td>
          <td>{{ produit.type }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  