<div class="container mt-4">
    <h2>Statistiques des Produits</h2>
    <table class="table table-bordered text-center">
      <thead class="table-light">
        <tr>
          <th>Type</th>
          <th>Liquide</th>
          <th>Solide</th>
          <th>Vapeur</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nombre</td>
          <td>{{ countLiquide }}</td>
          <td>{{ countSolide }}</td>
          <td>{{ countVapeur }}</td>
        </tr>
        <tr>
          <td>% du total</td>
          <td>{{ getPourcentage(countLiquide) }}</td>
          <td>{{ getPourcentage(countSolide) }}</td>
          <td>{{ getPourcentage(countVapeur) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  